body:not(.front) .page {
  margin: 0;
  max-width: 100%;

  main {
    background: white;
    display: block;
    overflow: hidden;
    padding: 0;
    margin-top: 0;

    .content {
      margin: 0 auto 2em;
      max-width: 1080px;
      overflow: hidden;
    }
  }

  .page-title {
    border: 0;
    padding: 0 15px;
  }
}

.section-wrapper {
  display: block;
  overflow: hidden;
}

.wt-section {
  float: none;
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
}

.white-bg {
  background-color: white;
}

.wwu-4-col-container {
  border-top: 5px solid $wwu-blue;

  @include breakpoint($tablet) {
    .col-1,
    .col-3 {
      border-right: 2px solid #eee;
    }
  }

  @include breakpoint($desktop) {
    .col-2 {
      border-right: 2px solid #eee;
    }
  }
}

.wwu-4-col-container > div {

  &:first-child {
    border-left: 0;
    padding-left: 0;
  }

  &:last-child {
    border-right: 0;
    padding-right: 0;
  }
}

.wwu-75-percent-left-column {
  padding: 0 15px;
}

.wwu-25-percent-right-column {
  padding-top: 25px;

  @include breakpoint($desktop) {
    padding-top: 0;
  }

  .panel-pane {
    @include clearfix;
    margin-bottom: 1.5em;
  }
}

.content-bottom {
  @include zen-clear(both);
  @include zen-grid-item(1, 1);
}
