.front {

  main {
    background: none;
    margin-top: 0;
    padding: 0;
  }

  .page {
    max-width: none;
  }

  .page-title{
      margin-bottom: -.2em;
  }

  .wwu-100-percent {
    padding-left: 0;
    padding-right: 0;
  }

  .wwu-75-25-container {
    overflow: hidden;

    &:nth-child(1) {
      padding-bottom: 2em;
    }

    &:nth-child(2) .wwu-75-percent-left-column {
      background: lightgrey;
      padding: 10px 0 10px 10px;
    }
  }

  .middle-1-wrapper {
    .wwu-75-percent-left-column {
      padding-bottom: 2em;
    }
  }

  .wwu-4-col-container {
    .pane-title {
      font-size: 130%;
    }

    [class^='col'] {
      padding: 1.5em 1em;
    }
  }

  .wt-section {
    padding: 0 1em;

    @include breakpoint($max-content-width) {
      padding-left: 0;
      padding-right: 0;
    }

    &.main-nav,
    &.header-wrapper {
      padding: 0;
    }
  }

  .middle-1-wrapper,
  .middle-2-wrapper {

    .wt-section {
      padding: 0;
    }
  }

  .wwu-75-percent-left-column {
    padding: 0 1em;
  }

  .section-wrapper {
    padding: 2em 0;

    &:empty,
    div:empty {
      display: none;
    }
  }

  .top-1-wrapper,
  .middle-2-wrapper,
  .bottom-wrapper {
    padding: 0;
  }

  .panel-pane:not(:last-child) {
    margin-bottom: 2em;
  }
}
