.header-wrapper {
  padding: 0;
}

header[role="banner"] > div {
  background: none;
  border: 0;
}

.western-header {
  nav {
    margin-right: 0;
  }
}

.site-header {
  @include breakpoint($desktop) {
    float: none;
    object-fit: cover;
  }
}

.western-header .western-logo a {
  @include breakpoint($desktop) {
    background: url('../images/WWU_MakeWaves_Stacked_RGB.png') no-repeat;
    width: 268px;
    height: 250px;
    transform: scale(.8);
    margin-top: -30px;
  }
}

.site-name {
  text-align: initial;

  h1 {
    color: white;
  }
}
