.main-nav {
  @include breakpoint($desktop) {
    border-top: 5px solid $wwu-blue;
    padding-top: 0;

    div div .menu  {
      li {
        background-color: transparent;
        border: 0;
        padding: 0;

        &:hover, &:focus-within {
          background-color: $wwu-lime;
        }

        a {
          color: $wwu-blue;
          padding: .75em;

          &:focus {
            color: $wwu-blue;
            box-shadow: none;
            outline: 3px dotted;
            outline-offset: -3px;
          }
        }
      }
    }
  }
}
