//----------- Styles for Author title and department -----------//
.field-name-field-author-title {
  .field-item {
    display: inline-block;
    margin-bottom: 1em;
    color: $wwuOceanBlue;
    font-style: italic;
  }
}

//----------- Styles for Author name -----------//
.field-name-field-author {
  .field-item {
    color: $wwu-blue;
    font-size: 1.2em;
  }
}

//----------- Styles for Author URL -----------//
.field-name-field-url {
  .field-item {
    display: block;
    margin-bottom: 1em;
    color: $wwuOceanBlue;
  }
}
