$button-size: .4em 1.5em;

@mixin button($color, $color-hover, $color-font) {
  color: $color-font;
  background-color: $color;
  border-radius: 1px;
  outline: 2px solid transparent;
  padding: $button-size;
  box-shadow: none;

  &:hover {
    background-color: $color-hover;
    text-decoration: none;
    transition: .2s;
  }

  &:focus {
    outline: 2px solid $wwu-lime;
    text-decoration: none;
  }
}

main {
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @include button($wwu-light-blue, $wwu-light-blue-20, white);

    &:focus {
      border: 2px solid white;
    }
  }
}

.more-link a {
  @include button($gray-accent-lighter, $gray-accent-darker, black);
  float: left;
}

.pane-western-tv-video-list .more-link a {
  @include button($wwu-light-blue, $wwu-light-blue-20, white);
  float: left;
}

.menu-disable-button, .enable-accordion {
  @include button($ashlar-light-gray, $ashlar-gray, black);

  &:focus {
    background-color: $ashlar-gray;
    outline: 2px dotted;
    color: white;
  }
}
