.featured-stories {
  $zen-column-count: 4;
  $zen-gutter-width: 20px;
  $zen-auto-include-item-base: true;

  .view-content {
    @include zen-nested-container();

    @include breakpoint($tablet) {
      .views-row-1,
      .views-row-3 {
        @include zen-clear();
        @include zen-grid-item(2, 1);
      }

      .views-row-2,
      .views-row-4 {
        @include zen-grid-item(2, 3);
      }
    }

    @include breakpoint($desktop) {
      @for $i from 1 through $zen-column-count {
        .views-row-#{$i} {
          @include zen-clear(none);
          @include zen-grid-item(1, $i);
        }
      }
    }
  }

  @include breakpoint($max-content-width) {
    .views-row:first-child {
      padding-left: 0;
    }

    .views-row:last-child {
      padding-right: 0;
    }
  }

  .views-field-field-western-today-image {
    line-height: 0;
  }

  // Ribbon-shaped label
  .views-field-type {
    background: $wwu-lime;
    color: $wwu-blue;
    display: table;
    line-height: 1;
    position: relative;
    text-align: center;
    top: -2em;
    z-index: 100;

    // For ribbons, border MUST go before the border-left-color for arrow cutout
    // to appear.
    &::before {
      border: 1em solid $wwu-lime;
      border-left: .5em solid transparent;
      box-sizing: border-box;
      content: '';
      display: block;
      height: 100%;
      left: -.5em;
      position: absolute;
      width: auto;
      z-index: -1;
    }

    .field-content {
      display: block;
      padding: .5em 1em;
    }
  }

  // Offset the next two sections to deal with the tag having to be relatively
  // positioned.  This fills the gap that it would have left.
  .views-field-title,
  .views-field-body {
    position: relative;
    top: -1.25em;
  }

  // Article title
  .views-field-title {
    @include breakpoint($tablet) {
      min-height: 150px;
    }
    display: flex;
    flex-direction: column;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    min-height: 100px;

    .field-content {
      margin: 0;
      line-height: 1.2;

      a {
        color: black;
        font-size: 20px;
        -webkit-font-smoothing: auto;
        font-weight: bold;
        line-height: 1.15;
      }
    }
  }

  .views-field-body p:last-child {
    margin: 0;
  }
}
