.pane-features-panel-pane-3 {
  .pane-title {
    font-size: $front-pane-title-font-size;
    line-height: 1.1;
    width: 165px;
    word-wrap: normal;
  }
}

.front .first-featured-story {
  margin-bottom: 80px;

  .views-field-title .field-content,
  .views-field-field-author {
    position: absolute;
    transition: .2s;

    @include breakpoint($tablet) {
      left: 10px;
    }
  }

  .views-field-title .field-content {
    font-size: 18px;
    margin: -25px 0 auto 0;
    position: relative;

    @include breakpoint($desktop) {
      font-size: 24px;
    }
  }

  .views-field-field-author {
    background-color: $wwu-blue;
    color: white;
    font-family: times;
    font-size: 16px;
    font-style: italic;
    padding: 5px 12px;
    position: absolute;
    margin-left: 0;

    @include breakpoint($tablet) {
      margin-left: 16px;
    }
    @include breakpoint($desktop) {
      font-size: 18px;
    }
    @include breakpoint($max-content-width) {
      margin-left: 0;
    }
  }
}
