.pane-node-created {
  border-bottom: 2px solid $wwu-blue;
  border-top: 2px solid $wwu-blue;
  color: #0083d6;
  margin-bottom: 1em;
  padding: 10px 0;
  width: 45%;
}

.views-field-created {
  color: #0070b6;
}

.feature-image .content a img {
  width: 100%;
  height: auto;
}

.wwu-75-percent-left-column {
  .field-content, .view-content, .pane-node-body,
  .pane-entity-field, .pane-addtoany-addtoany-button {
    a {
      color: $wwuOceanBlue;
      outline: 1px solid transparent;

      &:hover, &:focus, &:active {
        color: $wwu-blue;
        background: $ashlar-light-gray;
      }

      &:focus {
        border: 0;
        outline: 3px dotted;
        outline-offset: 1px;
      }
    }
  }
}
