.wwu-75-25-container:nth-of-type(2) {
  .wwu-25-percent-right-column {
    padding: 15px;

    .panel-pane.pane-featured-services {
      margin-bottom: 0;
    }

    .panel-pane.pane-featured-services img {
      width: 100%;
    }

    @include breakpoint($desktop) {
      width: 35.5%;
      margin-left: 79.5%;
      padding: 0;
    }
  }
}

