/*--- Additional styles for WT landing page ---*/
$hover-focus-blue: #0062a0;

.wt-section, .section-wrapper {

  //Splash image title
  .pane-features-panel-pane-4 {
    h2 {
      line-height: 1.7;

      @include breakpoint($desktop) {
        line-height: 1.8;
      }

      a {
        color: white;
        background: #007ac8;
        padding: 6px 2px;
        margin-left: 0;

        @include breakpoint($desktop) {
          padding: 8px 12px;
        }

        &:hover, &:focus, &:active {
          color: #d6e86c;
          background: $hover-focus-blue;
        }

        &:focus {
          outline: 3px dotted $hover-focus-blue;
          }
        }
      }
    }

  .field-content, .view-content {
    a {
      color: $wwuOceanBlue;
      outline: 1px solid transparent;

      &:hover, &:focus, &:active {
        color: $wwu-blue;
        background: $ashlar-light-gray;
      }

      &:focus {
        border: 0;
        outline: 3px dotted;
        outline-offset: 1px;
      }
    }
  }
}
