.not-front {
  .page-title {
    margin-top: 20px;
    width: 100%;
    h1 {
      color: #000;
      margin-left: 0;
    }
  }
}
@media(min-width: $desktop){
  .not-front{  
    .page-title{
      width:75%;
    }
  }
}
