.pane-mailchimp-signup-get-our-newsletter {
  background: $wwu-lime;
  padding: 15px;

  .pane-title {
    font-size: 22px;
    margin: 10px 0;
    width: 100%;
  }

  .form-item label {
    display: none;
  }

  .form-item .form-text {
    box-sizing: border-box;
    width: 100%;
  }

  .form-actions {
    margin-bottom: 0;
  }
}

.front .panel-pane.pane-mailchimp-signup-get-our-newsletter {
  margin: 0;
}

.block-mailchimp-signup {
  background: $wwu-lime;
  margin: 0;
  padding: 2em;

  .block-title {
    font-size: 300%;
    margin-bottom: .5em;
  }

  .center-content {
    @include breakpoint($desktop) {
      align-items: stretch;
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
    }
  }

  label {
    @include squish-text;
  }
}
