.pane-new-content-panel-pane-1,
.pane-popular-content-today-panel-pane-1,
.pane-recently-liked-content-panel-pane-1{

  .pane-title {
    font-size: $front-pane-title-font-size;
    line-height: 1.1;
    width: 165px;
    word-wrap: normal;
  }
}

.view-new-content,
.view-popular-content-today {
  overflow: hidden;
  padding-left: 10px;
  margin-left: -10px;

  p {
    margin: 0;
    margin-top: 12px;
  }

  .views-row {
    margin-bottom: 10px;
  }
}
