.pane-node-created {
  border-bottom: 2px solid $wwu-blue;
  border-top: 2px solid $wwu-blue;
  color: $wwu-blue;
  margin-bottom: 1em;
  padding: 10px 0;
  width: 45%;
}

.views-field-created {
  color: $wwu-blue;
}
