.field-name-field-rate {
  margin-bottom: 1em;
}

.fivestar-hearts div.fivestar-widget {
  .star {
    width: 50px;
    height: 50px;

    a {
      background-image: url('../images/fav-heart-sprite.png');
      background-position-y: 0px;
      border: none;

      &:hover, &:focus {
        background-position-y: -50px;
      }
    }
  }

  div.off {
    a {
      background-position-y: -0px;
    }
  }

  div.on {
    a {
      background-position-y: -101px;
    }
  }
}
