.not-front {
  .wwu-25-percent-right-column {

    > .contextual-links-region:last-child {
      padding-bottom: 10px;
    }

    .pane-title {
      font-size: 1.5em;
      color: #FFF;
      background-color: $wwu-light-blue;
      padding: 15px;
      margin-bottom: 0;
    }

    .views-row {
      padding: 5px 15px;
      padding-top: 0;
    }

    .views-row-even {
      background-color: transparentize($body-background-gray, .5);
    }

    .view-footer {
      padding: 5px 15px;
      > a {
        font-size: 14px;
        display: block;
        border-top: 1px solid $body-background-gray;
        padding-top: 5px;
        float: none;
      }
    }

    .pane-views-panes {
      .field-content {
        a {
          line-height: 1.65em;
          color: darken($wwuOceanBlue, 1%);

          &:hover, &:focus, &:active {
            color: $wwu-blue;
            background: $ashlar-light-gray;
          }

          &:focus {
            outline: 3px dotted;
          }
        }
      }
    }
  }
}
