.field-name-body {
  blockquote {
    background: #FFF;
    padding: 20px 10px 0 0;
    margin: 10px 1em 1em 0;
    letter-spacing: 1.5px;
    font-size: $blockquote-font-size;
    line-height: $blockquote-font-size + 5px;
    border-top: 5px solid $wwu-blue;
    min-width: initial;
    max-width: 350px;
    float: left;

    > p {
      color: $wwuOceanBlue;

      &::before, &::after {
        content: '"';
        display: inline-block;
      }

      &::before {
        padding-right: 5px;
      }

      &::after {
        padding-left: 5px;
      }
    }
  }
}
