
.pane-node-field-term-topics,
.pane-node-field-term-people,
.pane-node-field-term-colleges {
    .pane-title{
        margin-top: 10px;
    }

     .field-item{
         display: inline-block;

        > a {
          background-color: $wwu-lime;
          color: $wwu-blue;
          display: inline-block;
          padding: 10px;
          margin: 5px;

          &:focus, &:hover, &:active {
            background-color: $wwu-blue;
            color: $wwu-lime;
          }

          &:focus {
            outline-color: $wwu-blue;
          }
        }
    }
}
