.pane-tweets-panel-pane-1,
.pane-twitter-feed-panel-pane-1{

    padding-bottom: 40px;
    padding-top: 30px;

  .pane-title {
    font-size: $front-pane-title-font-size;
    line-height: 1.1em;
    width: 165px;
    word-wrap: normal;
  }

}

.field-content .twitter-status {

  .timestamp {
    color: #111;
  }

  .name-handle {
    .handle {
      a {
        color: $wwuOceanBlue;

        &:focus, &:hover {
          color: $wwu-blue;
        }
      }
    }
  }

  .actions {
    visibility: visible;
  }

  a {
    color: $wwuOceanBlue;
  }
}
