.pager {
  li {
    a {
      color: $wwuOceanBlue;
      outline: 3px solid transparent;
      padding: 0 2px;

      &:focus, &:active {
        color: $wwu-blue;
        // border: 2px dotted $wwuOceanBlue;
      }
    }
  }
}

// front page 4-grid news variations
.view-campus-news-items, .view-in-the-media-items,
.view-news-releases, .view-faculty-publications-notes {
  line-height: 1.6;
}

.views-features, .view-campus-news-items {
  h2 {
    line-height: 1.5;
  }
}

// Video view
@media (min-width: 581px) {
  .view-id-videos .views-field-body {
    max-width: 70%;
    margin: auto;
  }
}
