.western-today-newsletter-block {
  background: $wwu-lime;
  display: none;
  padding: 15px;

  @include breakpoint($desktop) {
    display: block;
  }

  div:not(.contextual-links-wrapper),
  p {
    line-height: 0;
    margin: 0;
  }
}
