.wwu-75-25-container:nth-child(2) {
  @include breakpoint($tablet) {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;

    > div {
      padding: 0;
    }
  }
  @include breakpoint($desktop) {
    flex-flow: row nowrap;
  }

  .wwu-mid-half-column {
    width: 100%;

    @include breakpoint($desktop) {
      width: auto;
    }
  }

  .pane-western-tv-first-video {
    .content {
      height: 0;
      overflow: hidden;
      padding-bottom: 9 / 16 * 100%;
      position: relative;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .pane-western-tv-video-list {
    $border-size: 10px;

    display: inline-block;
    height: 78%;
    overflow: hidden;
    width: 100%;

    @include breakpoint($desktop) {
      height: 215px;
    }

    .pane-title {
      font-size: 22px;
      -webkit-font-smoothing: antialiased;
      margin: 0 0 $border-size;
      padding-bottom: $border-size;
    }

    .view-content {
      line-height: 35px;
      margin-bottom: $border-size;
    }
  }

  .western-tv-block {
    @extend .pane-western-tv-video-list;
    color: white;

    p {
      padding: 10px;
    }
  }

  .pane-western-tv-first-video {
    $gradient-stop: 48px;

    @include background-image(linear-gradient(
    $gray-accent-darker,
    $gray-accent-darker $gradient-stop,
    $gray-accent-lighter $gradient-stop,
    $gray-accent-lighter
    ));
  }

  .pane-western-tv-first-video,
  .pane-western-tv-video-list {
    background-color: $gray-accent-lighter;
    box-sizing: border-box;
    height: 100%;
    padding: 15px;

    $gradient-stop: 48px;

    @include breakpoint($desktop) {
      @include background-image(linear-gradient(
      $gray-accent-darker,
      $gray-accent-darker $gradient-stop,
      $gray-accent-lighter $gradient-stop,
      $gray-accent-lighter
      ));
    }
  }
}
