// Hide blue site name box.
@media all and (min-width: 801px) {
  .site-name {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
  }
}

// Prevent videos from overlapping flexslider container.
.flexslider .slides {
  overflow: hidden;
}

main {
  margin-bottom: 0;
}
