$light-gray: #ddd;
$light-blue: #DFF0FA;
$wwu-blue: #003f87;
$wwu-light-blue: #0083d6;
$body-background-gray: #e9e9e9;
$transparent-white: rgba(255, 255, 255, .5);
$wwu-lime: #bad80a;
$wwu-light-blue-20: tint($wwu-light-blue, 20);

$gray-accent-darker: #d6d6d6;
$gray-accent-lighter: #edeef2;
$wwuOceanBlue: #007ac8;

$ashlar-gray: #667986;
$ashlar-light-gray: #e3e7e9;
$wwu-black: #111;
